# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
.venv/

# Streamlit & logs
.streamlit/
logs/
*.log

# Environment variables
.env

# Data & local embeddings
#data/
#storage/

# Docker
*.pid
*.sock
docker-compose.override.yml

# OS/editor files
.DS_Store
.idea/
.vscode/

#main copy files
./app/main copy.py